.header {
  /* positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* display */
  display: flex;
  justify-content: space-between;

  /* box model */
  padding: 0 10%;
  width: 100%;

  /* font or others */
  background-color: #8a2b06;
}

.header h2 {
  /* positioning */
  /* display */
  /* box model */
  /* font or others */
  color: #fff;
}


